<div class="col-sm-6 col-md-3" style="margin: 5px 0px 5px 0px">
<div class="thumbnail">
  <img style="width:128px; height:128px" src="<%= picture == '-1' ? './resources/img/diner_logo.png' : 'http://localhost:8080/catering-core/rest/file/image/' + picture %>"/>
  <div class="caption" align="left">
    <h3> <a href="#diner/<%= id %>" ><%= name %></a></h3>
  </div>
  <div class="text" align="left"><blockquote><%= description %></blockquote></div>
  <div align="right">
    <h5> <a href="#diner/select/<%= id %>" >Select diner</a></h5>
  </div>
</div>
</div>