<div class="col-sm-6 col-md-9" style="margin: 5px 0px 5px 0px">
<div class="thumbnail">
  <div class="caption" align="left">
    <h3> <a href="#menu/<%= id %>" ><%= name %></a></h3>
  </div>
  <div class="text" align="left"><blockquote>Created <%= created %></blockquote></div>
  <div class="text" align="left">

			<table style="width: 100%">
				<% _.each(menuItems, function(menuItem) { %>
				<tr>
					<td><strong><%= menuItem.name %></strong></td>
					<td><%= menuItem.price %> EUR</td>
					<td><a class="btn btn btn-default btn-lg save" href="#menuitem/<%= id %>/<%= menuItem.id %>">Edit</a></td>
				</tr>
				<%}); %>
			</table>


		</div>
</div>
</div>
