<div class="col-sm-6 col-md-9" style="margin: 5px 0px 5px 0px">
<div class="thumbnail">
  <div class="caption" align="left">
    <h3> <a href="#menu/<%= id %>" ><%= name %></a></h3>
  </div>
  <div class="text" align="left"><blockquote>Created <%= created %></blockquote></div>
  <div class="text" align="left">

			<table style="width: 100%">
				<% _.each(menuItems, function(menuItem) { %>
				<tr>
					<td align="left"><strong><%= menuItem.name %></strong></td>
					<td align="right"><%= menuItem.price %> EUR</td>
					<td align="right" width="100px"><a class="btn btn btn-default" href="#menuitem/<%= id %>/<%= menuItem.id %>">Details</a></td>
				</tr>
				<%}); %>
			</table>
  			<div class="menuItemAddButtons" align="left"> <a class="btn btn btn-default" href="#menuitem/add/<%= id %>">Add menu item</a> </div>

		</div>
</div>
</div>
